.banner-mobile {
  display: none;
}
.banner-home {
  height: 734px;
  background-position: right;
  -webkit-background-size: contain;
  background-size: contain;
  position: relative;
}
.banner-content {
  h2 {
    max-width: 600px;
  }
  p {
    color: #7d7d7d;
    font-size: 17px;
    max-width: 450px;

    span {
      display: block;
    }

    @media (max-width: 1150px) {
      max-width: 400px;
    }
  }
}
.banner-mob {
  position: absolute;
  right: 25%;
  max-width: 350px;
  bottom: 0;

  img {
    width: 100%;
  }

  &.banner-mob-1 {
    z-index: 2;
  }

  &.banner-mob-2 {
    right: 13%;
    bottom: inherit;
  }
}
.hr-banner {
  position: absolute;
  right: 12%;
  max-width: 500px;
  top: 12%;

  img {
    width: 100%;
  }

  &.hr-building {
    top: 5%;
    z-index: -1;
    max-width: 380px;
    right: 16%;
  }
}
.time-img {
  position: absolute;
  top: 10%;
  max-width: 640px;
  right: 8.6%;

  img {
    width: 100%;
  }
}
.occupation-img {
  max-width: 650px;
  position: absolute;
  right: 5%;
  bottom: -5%;

  img {
    width: 100%;
  }
}
.benefits-img {
  position: absolute;
  top: 6%;
  right: 5%;
  max-width: 750px;

  img {
    width: 100%;
  }
}
.payroll {
  img {
    width: 100%;
  }

  &.payroll-2 {
    position: absolute;
    left: 0;
    max-width: 200px;
    bottom: 0;
  }
}
.about-img {
  position: absolute;
  right: 9%;
  max-width: 750px;
  top: 21%;
  
  img {
    width: 100%;
  }
}