// ==================================================================================
// Base
// ==================================================================================

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-family: @body-font;
  line-height: 1.6;
  color: #4f5057;
}

#page-wrapper {
  padding-top: 100px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

p {
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  font-family: @body-font;
  .transition(all ease-in-out .3s);
  color: @black;

  &:hover, &:focus {
    color: @black;
    text-decoration: none;
    outline: none;

    p {
      color: @black;
    }
  }
}

// tags
h1, h2, h3, h4, h5, h6 {
  color: @black;
  margin: 10px 0;
  font-family: @questrial;
}

h1 {
  font-size: 80px;
  font-family: @questrial;
}

h2 {
  font-size: 50px;
  line-height: 60px;

  @media (max-width: 1280px) {
    font-size: 45px;
    line-height: 50px;
  }
}

h3 {
  font-size: 50px;

  @media (max-width: 1366px) {
    font-size: 40px;
  }
}

h4 {
  font-size: 30px;
  line-height: 35px;
}

h5 {
  font-size: 17px;
  color: #080606;
  font-family: @runda-light;
  line-height: 25px;
}

h6 {
  font-size: 10px;
}


img {
  width: auto;
  height: auto;
}

// List
ul {
  display: block;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    vertical-align: top;

    a {
      display: block;
    }
  }
}