.btn-common {
  color: @white;
  font-family: @roboto;
  padding: 11px 45px;
  display: inline-block;
  letter-spacing: 0;
  font-size: 15px;
  position: relative;
  border: 0;
  border-radius: 50px;
  background-color: @black;
  .box-shadow(0 0 0 0px @black);
  .transition(all .5s ease);

  &:hover, &:focus {
    color: @black;
    .box-shadow(0 0 0 2px @black);
    background-color: @white;

    &:before {
      background-color: @black;
    }
  }

  &:before {
    content: '';
    background-color: #058c9e;
    position: absolute;
    width: 75%;
    height: 75%;
    left: 50%;
    .translate(-50%,0);
    z-index: -1;
    -webkit-filter: blur(7.8px);
    filter: blur(7.8px);
    border-radius: 50px;
    bottom: -10%;
    .transition(all .5s ease);
  }
}