.modal-open .modal {
  background-color: rgba(0, 0, 0, 0.62);
}
.modal-gallery {
  position: fixed;

  .modal-backdrop.in {
    opacity: .9;
  }
  .modal-backdrop {
    z-index: 0;
  }
  .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    .translate(-50%, -50%) !important;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: none;
  }

  .close {
    border: 2px solid #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 1;
    text-shadow: none;
    color: #fff;
    font-size: 35px;
    line-height: 0.5;
    position: absolute;
    top: 3%;
    right: 2%;
    z-index: 1;
    outline: 0;
    background-color: #000;

    span {
      margin: auto;
      display: table;
    }
  }
}
.section-carousel {
  .carousel-inner {
    padding: 0 2em;
  }
  .company-carousel {
    float: left;
    max-width: 20%;
    margin: 0 1.5em;

    img {
      width: 100%;
    }
  }
  .carousel-control {
    top: 5%;
    bottom: initial !important;
    width: initial;
    .opacity(1);
    font-size: 50px;
    color: #c1c1c1 !important;
    text-shadow: none;
    background-color: transparent !important;
    background-image: none !important;
    .translate(-50%,0);
  }
  .carousel-indicators {
    bottom: -70%;

    li {
      border: 1px solid #8b8c8f;

      &.active {
        background-color: #8b8c8f;
      }
    }
  }
}