.bg-inline {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
.bg-fixed {
  background-attachment: fixed;
}
.pd-6 {
  padding: 4em 2em;
}
.pd-10 {
  padding: 10em 0;
}
.pb-12 {
  padding-bottom: 12em;
}
.pb-3 {
  padding-bottom: 3em;
}
.pt-0 {
  padding-top: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pb-12 {
  padding-bottom: 12em !important;
}
.pl-2 {
  padding-left: 2em;
}
.text-white {
  h4, h3, h2, h1, p, .fa {
    color: @white !important;
  }
}
.fl-left {
  float: left;
}
.fl-right {
  float: right;
}
.scale-holder {
  overflow: hidden;

  .bg-inline {
    .transition(all .5s ease);
  }

  img {
    .transition(all .4s ease);
  }

  &:hover {
    .bg-inline {
      .scale(1.1,1.1);
    }
    img {
      .scale(1.1,1.1);
    }
  }
}
.text-center {
  h2 {
    &:before {
      left: 50%;
      .translate(-50%,0);
    }
  }
  p {
    margin: auto;
  }
}
.bg-gray {
  background-color: #fafafa;
}
.bg-light-gray {
  background-color: #fbfbfc;
}
.bg-white {
  background-color: @white !important;
}
.bg-request {
  background-image: url('../images/bg-request.png');
  .box-shadow(3px 5px 53.69px 5.31px rgba(0, 0, 0, 0.11));
}
.col-md-9 {
  .footer-list {
    ul {
      column-count: 2;
    }
  }
}
.mw-initial {
  max-width: initial !important;
}
.just-center {
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.container-relative {
  position: relative;

  @media (max-width: 1203px) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @media (max-width: 991px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.mn-23 {
  margin-top: -23em;
}
.mn-8 {
  margin-top: -3.8em;
}