.board-img {
  padding-right: 2em;

  img {
    width: 100%;
  }
}
.board-content {
  h4 {
    max-width: 345px;
  }
  p {
    font-size: 18px;
  }

  ul {
    margin-top: 1em;

    li {
      display: block;
      padding-left: 30px;
      position: relative;
      margin: 15px 0;
      color: @black;
      font-size: 17px;

      &:before {
        content: "\f058";
        font-family: "FontAwesome";
        color: #99ca3c;
        position: absolute;
        left: 0;
      }
    }
  }
}
.col-img {
  position: relative;
  top: 0;
  .transition(all .3s ease-in-out);
}
.col-desc {
  margin-top: 15px;
  position: relative;
  top: 0;
  .transition(all .3s ease-in-out);

  h4 {
    font-size: 26px;
    margin-bottom: 5px;
  }
  p {
    font-size: 16px;
    max-width: 300px;
  }
}
.col-content {
  &:hover {
    .col-img {
      top: 5px;
    }
    .col-desc {
      top: -3px;
    }
  }
}
.section-partners {
  ul {
    li {
      max-width: 230px;
      display: inline-block;
      background-color: transparent;
      padding: 0 1em;
      margin: 1em 0;
      .box-shadow(-2px 11px 26.39px 2.61px rgba(0, 0, 0, 0));
      .transition(all .3s ease);

      img {
        width: 100%;
      }

      &:hover, &.active, &.active-off.active-on  {
        background-color: @white;
        .box-shadow(-2px 11px 26.39px 2.61px rgba(0, 0, 0, 0.06));
      }

      &.active-off {
        .box-shadow(-2px 11px 26.39px 2.61px rgba(0, 0, 0, 0));
      }
    }
  }
}
.services-holder {
  text-align: center;
  padding: 2.5em 1em;
  margin-bottom: 1em;
  .box-shadow(7px 16px 43px 0px rgba(0, 0, 0, 0));
  .transition(all .3s ease);

  .services-icon {
    max-width: 50px;
    margin: auto;
    position: relative;
    .transition(all .3s ease);
    top: 0;

    img {
      width: 100%;
    }
  }

  .services-title {
    margin-top: 20px;
    line-height: 20px;
    max-width: 160px;
    margin: 20px auto 0;
  }
}
.laptop-content-list {
  max-width: 900px;
  text-align: center;
  margin: 1em auto 0;
}
.icon-list {
  .box-shadow(1px 13px 30.4px 1.6px rgba(0, 0, 0, 0));
  padding: 1.5em;
  background-color: #fff;
  .transition(all .3s ease);

  &:hover {
    .box-shadow(1px 13px 30.4px 1.6px rgba(0, 0, 0, 0.06));
  }
}
.icon-img {
  max-width: 65px;
  margin: auto;

  img {
    width: 100%;
  }
}
.icon-title {
  h4 {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 0;
  }
}
.features-cols {
  .col-md-4 {
    .box-shadow(13px 16px 38px 0px rgba(0, 0, 0, 0.04));
    background-color: @white;
    position: relative;
    z-index: 1;

    &:nth-child(2) {
      z-index: 2;
      .box-shadow(0px 16px 38px 0px rgba(0, 0, 0, 0.04));
      height: 540px;
      top: -25px;

      .feature-icon {
        border-color: #c8f0a5;
      }
      .col-desc {
        a {
          color: #99ca3c;
        }
      }
    }

    &:last-child {
      .feature-icon {
        border-color: #ffcb08;
      }
      .col-desc {
        a {
          color: #ffcb08;
        }
      }
    }
  }

  .col-content {
    padding: 2.5em;
  }
  .feat-img {
    img {
      width: 100%;
    }
  }
  .feature-icon {
    position: relative;
    width: 130px;
    height: 130px;
    text-align: center;
    margin: auto;
    border: 2px solid #067b99;
    border-radius: 50%;
  }
  .col-desc {
    p {
      max-width: 370px;
      color: #4f5057;
      margin: 10px auto;
    }
    a {
      color: #067b99;
      text-transform: uppercase;
      margin-top: 1em;
      display: inline-block;
    }
  }
}
.four-cols {
  .col-img {
    max-width: 65px;
    margin: auto;
    
    img {
      width: 100%;
    }
  }
  .col-desc {
    h4 {
      font-size: 20px;
      color: #f1982b;
      font-family: @body-font;
    }
    p {
      font-size: 14px;
      max-width: 280px;
    }
  }
  .col-md-3 {
    &:nth-child(2) {
      .col-desc {
        h4 {
          color: #8572a1;
        }
      }
    }
    &:nth-child(3) {
      .col-desc {
        h4 {
          color: #09a2c9;
        }
      }
    }
    &:last-child {
      .col-desc {
        h4 {
          color: #95c53a;
        }
      }
    }
  }
}
.solutions-grid {
  .col-md-6 {
    background-color: @white;
    .box-shadow(5px 5px 53.69px 5.31px rgba(0, 0, 0, 0.13));
    border-radius: 16px;
    margin: 15px;
    width: 47%;
    .transition(all .4s ease);

    @media (max-width: 991px) {
      width: 100%;
      margin: 15px 0;
    }

    &:hover {
      .box-shadow(5px 5px 53.69px 5.31px rgba(0, 0, 0, 0.06));

      .sol-icon {
        img {
          .rotate(360deg);
        }
      }
    }
  }
}
.sol-column {
  padding: 3em 2em;

  .sol-icon {
    width: 100px;
    height: 100px;
    border: 1px solid #00afec;
    border-radius: 50%;
    position: relative;

    img {
      zoom: 80%;
      .transition(all .4s ease);
    }

    @media (max-width: 991px) {
      margin: 0 auto 15px;
    }
  }

  .sol-desc {
    max-width: 500px;
    padding-left: 7em;

    p {
      font-family: @runda-light;
      margin-top: 20px;
      font-size: 15px;
    }

    @media (max-width: 991px) {
      padding-left: 0;
      margin: auto;
    }
  }
}
.spiral-img {
  max-width: 650px;
  margin: auto;
  position: relative;
}
.mobile-holder {
  .mobile {
    position: absolute;
  }
  .mobile-1 {
    top: -9%;
    max-width: 310px;
    right: 7%;
  }
  .mobile-2 {
      bottom: 11%;
      left: 8%;
      max-width: 450px;
  }
}
.features-container {
  .col-content {
    .box-shadow(1px 13px 30.4px 1.6px rgba(0, 0, 0, 0));
    padding: 3em 0;
    max-width: 340px;
    margin: 0 auto 1em;
    .transition(all .3s ease);

    &:hover {
      background-color: @white;
      .box-shadow(1px 13px 30.4px 1.6px rgba(0, 0, 0, 0.06));
    }
  }

  .col-md-4:nth-child(1) {
    .col-desc {
      h4 {
        color: #72cdac;
      }
    }
  }
  .col-md-4:nth-child(2) {
    .col-desc {
      h4 {
        color: #09a2c9;
      }
    }
  }
  .col-md-4:nth-child(3) {
    .col-desc {
      h4 {
        color: #f8c508;
      }
    }
  }
  .col-md-4:nth-child(4) {
    .col-desc {
      h4 {
        color: #8572a1;
      }
    }
  }
  .col-md-4:nth-child(6) {
    .col-desc {
      h4 {
        color: #d35b5e;
      }
    }
  }
}
.store-links {
  margin-top: 3em;

  .store {
    display: inline-block;

    a {
      display: block;
      max-width: 170px;
      .box-shadow(2px 24px 50.730000000000004px 6.27px rgba(0, 0, 0, 0.07));
      .transition(all .3s ease);

      img {
        width: 100%;
      }

      &:hover {
        .box-shadow(0px 24px 50.73px 6.27px rgba(0, 0, 0, 0.16));
      }
    }
  }
}
.benefits-grid {
  padding-right: 2em;

  .benefits-col {
    .box-shadow(7px 18px 38px 0px rgba(0, 0, 0, 0.06));
    padding: 4em 2em;
    margin-bottom: 30px;
    border-radius: 10px;
    .transition(all .4s ease);

    h4 {
      font-family: @runda-light;
      color: #5e5b5b;
      margin-top: 20px;
      font-size: 20px;
    }

    p {
      color: #5e5b5b;
      font-size: 13px;
      margin-top: 10px;
    }

    .benefits-icon {
      .transition(all .4s ease);
      position: relative;
      top: 0;
    }

    &:hover {
      .box-shadow(7px 18px 38px 0px rgba(0, 0, 0, 0.13));
      
      .benefits-icon {
        top: 5px;
      }
    }
  }

  .col-md-6 {
    &:nth-child(1), &:nth-child(3) {
      .benefits-col {
        margin-top: -8em;
      }
    }
    &:nth-child(2) {
      .benefits-col {
        background-image: -webkit-gradient(
                linear,
                left top,
                left bottom,
                color-stop(0, #067C99),
                color-stop(1, #02B4D0)
        );
        background-image: -o-linear-gradient(bottom, #067C99 0%, #02B4D0 100%);
        background-image: -moz-linear-gradient(bottom, #067C99 0%, #02B4D0 100%);
        background-image: -webkit-linear-gradient(bottom, #067C99 0%, #02B4D0 100%);
        background-image: -ms-linear-gradient(bottom, #067C99 0%, #02B4D0 100%);
        background-image: linear-gradient(to bottom, #067C99 0%, #02B4D0 100%);
        .box-shadow(5px 13px 38px 0px rgba(0, 0, 0, 0.24));

        h4, p {
          color: @white;
        }

        &:hover {
          .box-shadow(5px 13px 38px 0px rgba(0, 0, 0, 0.17));
        }
      }
    }
  }
}
.home-img {
  position: absolute;
  right: 10.5%;
  bottom: 0;
  max-width: 340px;
  
  img {
    width: 100%;
  }

  @media(max-width: 2280px) {
    right: 11.5%;
  }

  @media (max-width: 1900px) {
    right: 14.5%;
  }
}
.feature-img {
  img {
    width: 100%;
  }
}
.feature-section {
  max-width: 530px;
  margin: 4em auto 0;

  .feat-icon {
    max-width: 35px;

    img {
      width: 100%;
    }
  }
}
.payroll-solutions {
  .col-md-4 {
    &:nth-child(2) {
      .ps-icon {
        background-color: #cd585b;
      }
    }
    &:nth-child(3) {
      .ps-icon {
        background-color: #69b0ae;
      }
    }
  }
}
.benefits-payroll {
  padding-right: 1.5em;
  background-size: contain;
  background-position: left;
  padding-bottom: 2em;

  .col-md-4 {
    &:nth-child(2), &:nth-child(5) {
      margin-top: -8em;
    }
    &:nth-child(2) {
      .bene-list {
        background-color: #cd585b;
      }
    }
    &:nth-child(3) {
      .bene-list {
        background-color: #8772a2;
      }
    }
    &:nth-child(5) {
      .bene-list {
        background-color: #9dbf52;
      }
    }
  }
}
.process-col {
  background-color: @white;
  .box-shadow(0px 8px 28.71px 0.29px rgba(0, 0, 0, 0.09));
  border-radius: 10px;
  padding: 2em 1.5em;
  margin: 0 8px;
  min-height: 135px;
  .transition(all .4s ease);

  .process-number {
    h4 {
      color: #058c9f;
      font-size: 55px;
      line-height: initial;
      margin: 0;
    }
  }
  .process-desc {
    padding-left: 3em;

    h5 {
      color: #403f3c;
      font-size: 20px;
      margin: 6px 0 0;
    }
    p {
      color: #909090;
      font-size: 13px;
    }
  }

  &:hover {
    .box-shadow(0px 8px 28.71px 0.29px rgba(0, 0, 0, 0.19));
  }
}
.title-row {
  position: relative;
  margin-bottom: 30px;

  .title-number {
    background-color: #058c9f;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    .box-shadow(2px 13px 44.59px 4.41px rgba(0, 0, 0, 0.04));

    h4 {
      color: @white;
      margin: 0;
      font-size: 20px;
      text-align: center;
      line-height: 31px;
    }
  }
  h3 {
    padding-left: 1.5em;
    margin: 0;
  }
}

.section-header.single-blog {
  .header-title {
    margin-bottom: 1em;

    h2 {
      font-size: 28px;
      margin-bottom: 5px;
      max-width: 650px;
      line-height: 32px;
    }
    p {
      font-size: 15px;
      font-family: @runda-light;
    }
  }
  h2, h3, h4, h1 {
    max-width: 800px;
    font-size: 22px;
    padding-top: 0;
    font-family: @body-font;
    padding-bottom: 0;
    color: #333333;
    line-height: initial;


    &:before {
      display: none;
    }
  }
  .single-content {
    margin-top: 2.5em;

    p {
      text-transform: none;
      font-size: 17px;

      a {
        color: #666666;
        text-decoration: underline;
      }
    }

    ul {
      margin-bottom: 20px;
      padding-left: 20px;

      li {
        display: block;
        font-size: 17px;
        position: relative;
        padding-left: 20px;

        &:before {
          content: '';
          background-color: #0f0f0f;
          position: absolute;
          top: 9px;
          left: 0;
          height: 8px;
          width: 8px;
          border-radius: 50%;
        }
      }
    }
  }
}
.single-image {
  overflow: hidden;

  .blog-img {
    height: 500px;
    .transition(all .3s ease);
    .scale(1,1);

    &:hover {
      .scale(1.1,1.1);
    }
  }
}


.sidebar-list {
  padding-left: 40px;
  padding-top: 40px;

  h3 {
    padding-bottom: .5em;
    font-size: 28px;
  }

  .sidebar-content {
    margin-bottom: 20px;
    padding-left: 40px;
    position: relative;

    a {
      .news-img-holder {
        overflow: hidden;
      }

      .news-img {
        .transition(all .3s ease);
        .scale(1,1);
      }

      &:hover {
        .news-img {
          .scale(1.1,1.1);
        }
      }
    }

    .news-img {
      height: 200px;
    }

    .news-content {
      max-width: 300px;
      margin-top: 15px;

      p {
        font-size: 17px;
        font-family: @runda-light;
      }
    }

    &:before {
      content: "";
      border-top: 1px solid #666666;
      position: absolute;
      width: 22px;
      left: 0;
      margin-top: 13px;
      display: block;
      .transition(all .3s ease);
    }

    &:hover {
      &:before {
        margin-top: 18px;
      }
      .news-content {
        p {
          color: #666666;
        }
      }
    }
  }
}

.blog-box {
  background: #f3f3f3;
  padding: 2em 2em 3em 2em;

  h3 {
    font-size: 28px;
  }

  .copy-gap {
    margin-top: 1.5em;
    display: block;

    .btn-common {
      font-family: @body-font;
    }
  }

  label {
    width: 100%;
  }

  .form-control {
    width: 100%;
    margin-bottom: 1em;
    padding-left: 1em;
    font-weight: 100;
  }

  .btn-black {
    &:hover, &:focus {
      background-color: @black;
      color: @white;
    }
  }

}
.search-holder {
  a {
    font-family: @runda-light;
  }
  .list-social-blog {
    a {
      color: @white;
    }
  }
}
svg#origin-experience {
  margin-right: 6em;
  padding-right: 2em;
}
.screen-video {
  position: relative;

  video {
    .box-shadow(1px 15px 13px 0px rgba(0, 0, 0, 0));
  }

  &:after {
    content: '';
    background-color: #fff;
    .box-shadow(-9px 21px 20px 0px rgba(0, 0, 0, 0.06));
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -9%;
    z-index: -1;
    right: -7%;
  }
}
.competencies-content {
  max-width: 1100px;
  margin: auto;
}
.blog-page {
  .ps-list {
    margin-bottom: 30px;
  }
}
.careers-benefits {
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;

  .cb-list {
    background-color: #fbfbfc;
    .box-shadow(5px 3px 15.2px 0.8px rgba(0, 0, 0, 0.09));
    padding: 2em;
    margin-bottom: 2em;
    position: relative;
    z-index: 1;
    min-height: 139px;
  }
  .cb-desc {
    padding-left: 5em;
  }
  
  .col-md-6 {
    .cb-list {
      &:before {
        content: '';
        background-image: url('../images/cb-bg-1.png');
        background-repeat: no-repeat;
        position: absolute;
        bottom: 10px;
        right: 15px;
        width: 127px;
        height: 111px;
        z-index: -1;
      }
    }
    &:nth-child(2) {
      .cb-list {
        &:before {
          background-image: url('../images/cb-bg-2.png');
        }
      }
    }
    &:nth-child(3) {
      .cb-list {
        &:before {
          background-image: url('../images/cb-bg-3.png');
        }
      }
    }
    &:nth-child(4) {
      .cb-list {
        &:before {
          background-image: url('../images/cb-bg-4.png');
        }
      }
    }
  }
}
.careers-openings {
  max-width: 80%;
  margin: auto;
}
.single-services {
  .bg-inline {
    height: 400px;
    max-width: 800px;
    margin: auto;
    background-position: top;
    border: 14px solid @white;
    .box-shadow(5px 5px 53.69px 5.31px rgba(0, 0, 0, 0.13));

    @media (max-width: 600px) {
      height: 250px;
    }
  }
  .screening-img {
    max-width: 60%;
    margin: auto;
  }
  .section-title {
    h3 {
      max-width: 600px;
      margin: .5em auto .5em;
    }
    p {
      max-width: 750px;
      margin: 0 auto 1em;
      text-align: left !important;

      a {
        color: #0f779a;
      }

      @media (max-width: 1280px) {
        max-width: 700px;
      }
    }
  }
}