@font-face {
  font-family: 'RobotoRegular';
  src: url('../fonts/RobotoRegular.eot');
  src: url('../fonts/RobotoRegular.eot') format('embedded-opentype'),
  url('../fonts/RobotoRegular.woff2') format('woff2'),
  url('../fonts/RobotoRegular.woff') format('woff'),
  url('../fonts/RobotoRegular.ttf') format('truetype'),
  url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}

@font-face {
  font-family: 'QuestrialRegular';
  src: url('../fonts/QuestrialRegular.eot');
  src: url('../fonts/QuestrialRegular.eot') format('embedded-opentype'),
  url('../fonts/QuestrialRegular.woff2') format('woff2'),
  url('../fonts/QuestrialRegular.woff') format('woff'),
  url('../fonts/QuestrialRegular.ttf') format('truetype'),
  url('../fonts/QuestrialRegular.svg#QuestrialRegular') format('svg');
}

@font-face {
  font-family: 'RundaNormal';
  src: url('../fonts/RundaNormal.eot');
  src: url('../fonts/RundaNormal.eot') format('embedded-opentype'),
  url('../fonts/RundaNormal.woff2') format('woff2'),
  url('../fonts/RundaNormal.woff') format('woff'),
  url('../fonts/RundaNormal.ttf') format('truetype'),
  url('../fonts/RundaNormal.svg#RundaNormal') format('svg');
}

@font-face {
  font-family: 'RundaBold';
  src: url('../fonts/RundaBold.eot');
  src: url('../fonts/RundaBold.eot') format('embedded-opentype'),
  url('../fonts/RundaBold.woff2') format('woff2'),
  url('../fonts/RundaBold.woff') format('woff'),
  url('../fonts/RundaBold.ttf') format('truetype'),
  url('../fonts/RundaBold.svg#RundaBold') format('svg');
}

@font-face {
  font-family: 'RundaLight';
  src: url('../fonts/RundaLight.eot');
  src: url('../fonts/RundaLight.eot') format('embedded-opentype'),
  url('../fonts/RundaLight.woff2') format('woff2'),
  url('../fonts/RundaLight.woff') format('woff'),
  url('../fonts/RundaLight.ttf') format('truetype'),
  url('../fonts/RundaLight.svg#RundaLight') format('svg');
}


@font-face {
  font-family: 'GraphikRegular';
  src: url('../fonts/GraphikRegular.eot');
  src: url('../fonts/GraphikRegular.eot') format('embedded-opentype'),
  url('../fonts/GraphikRegular.woff2') format('woff2'),
  url('../fonts/GraphikRegular.woff') format('woff'),
  url('../fonts/GraphikRegular.ttf') format('truetype'),
  url('../fonts/GraphikRegular.svg#GraphikRegular') format('svg');
}
