.form-control{
  border-radius: 0;
  box-shadow: none;
  height: initial;
  font-family: @body-font;
  border-color: #d6d6d6;
  background: #fff;
  margin: 0;
  padding: 15px 20px;
  color: #202020;

  &:focus {
    border-color: @black;
    box-shadow: none;
  }
}

.form-control::-webkit-input-placeholder {color:#666666;}
.form-control:-moz-placeholder {color:#666666;}
.form-control::-moz-placeholder {color:#666666;}
.form-control:-ms-input-placeholder {color:#666666;}

input[type="time"].form-control {
  line-height: initial;
}

textarea {
  width: 100%;
  min-height: 172px;
  resize: none;
  border-color: #d6d6d6;
  color: #666666;
  font-family: @body-font;
  font-size: 14px;
  padding: 15px 20px;
  border-radius: 0;

  &:focus {
    outline: none;
    border-color: @black;
    box-shadow: none;
  }
}

.request-form {
  background-color: #fff;
  padding: 4em;
  max-width: 70%;
  margin: auto;

  h3 {
    margin-bottom: 1em;
  }
  p {
    color: #8a8a8a;
    font-size: 16px;
    font-style: italic;

    span {
      color: #da0935;
    }
  }

  .form-group {
    margin-right: 15px;

    p {
      color: @black;
      font-style: normal;
      margin-bottom: 5px !important;
    }

    .form-control {
      color: @black;
    }
  }
}

.wpcf7-form-control-wrap {
  position: relative;
  display: block;
}
span.wpcf7-not-valid-tip {
  color: #fff;
  font-size: 12px;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #dc0000;
  padding: 6px 8px;
}
div.wpcf7-validation-errors {
  border: 2px solid #f7e700;
  display: none !important;
}
form.wpcf7-form.sent {
  position: relative;
}
div.wpcf7-mail-sent-ok {
  border: 0;
  position: absolute;
  top: -5%;
  background-color: #398f14;
  left: 50%;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  margin: auto;
  .translate(-50%,-50%);
}