.gap-100 {
  height: 100px;
}
.gap-80 {
  height: 80px;
}
.gap-50 {
  height: 50px;
}
.gap-30 {
  height: 30px;
}
.gap-20 {
  height: 20px;
}
.gap-5 {
  height: 5px;
}
.m-r20 {
  margin-right: 20px;
}
.transform-50 {
  position: absolute;
  top: 50%;
  left: 50%;
  .translate(-50%,-50%);
}
.transform-y {
  position: absolute;
  top: 50%;
  .translate(0,-50%);
  padding-right: 60px;

  @media (max-width: 991px) {
    padding-right: 0;
  }
}
.afterclear {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
.p-0 {
  padding: 0;
}
.pr-15 {
  padding-right: 15px;
  padding-left: 0;
}
.pt-4 {
  padding-top: 4em !important;
}
.pt-16 {
  padding-top: 16em !important;
}
.transform-right {
  right: 0;
  .translate(0,-50%);
  left: inherit;
  margin-top: 10px;
}
.container {
  position: relative;
}
.mw-700 {
  max-width: 700px;
  margin: auto;
}
.mw-800 {
  max-width: 800px;
  margin: auto;
}
.mw-550 {
  max-width: 550px;
}
.pl-3 {
  padding-left: 3em;
}
body#our-platformoccupational-health-services #page-wrapper {
  padding-top: 0;
}
body#origin-homeabout-us {
  #page-wrapper {
    padding-top: 0;
  }
  .banner-home {
    background-position: left;
    -webkit-background-size: cover;
    background-size: cover;
  }
}