.navbar-default {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  border: 0;
  border-radius: 0;
  margin: 0;
  width: 100%;
  z-index: 4;
  min-height: initial;
  .transition(all 0.3s ease);

  .menu-holder {
    position: relative;
    padding-top: 1.5em;
  }

  .navbar-nav-menu {
    float: none;
    display: inline-block;
  }

  .navbar-menu-collapse {
    text-align: center;
    position: relative;
    padding: 0;
  }

  .navbar-nav {
    margin-right: 0;
    padding-top: 0;

    > li {
      margin: 0 15px;

      > a {
        color: @gray;
        font-family: @roboto;
        padding: 12px 0;
        position: relative;
        margin: 0;
        font-size: 16px;
        .transition(0.5s all ease);

        &:hover, &:focus {
          background-color: transparent;
          color: #16889c;
        }
      }

      &.active {
        a {
          color: #16889c;
          background-color: transparent;

          &:hover {
            color: @gray;
            background-color: transparent;
          }
        }
      }
    }
  }
  .navbar-right {
    li {
      &:last-child, &:nth-last-child(2) {
        margin-right: 0;

        a {
          border: 2px solid #058c9e;
          border-radius: 30px;
          padding: 12px 30px;

          &:hover {
            background-color: #1f8298;
            color: @white;
          }
        }
      }
      &:last-child {
        a {
          background-color: #058c9e;
          color: @white;

          &:hover {
            background-color: @white;
            color: @gray;
          }
        }
      }
    }
  }
}

.logo-holder {
  width: 174px;
  display: block;
  padding: 5px 0;

  img {
    max-width: 100%;
  }
}

.navbar-fixed-top {
  background-color: @white;
  .box-shadow(0px 2px 5px -5px rgba(0,0,0,0.75));

  .menu-holder {
    padding: 1em 0 0.5em;
  }

  .logo-holder {
    width: 130px;
  }

  .navbar-nav {
    > li > {
      a {
        padding: 10px 0;
        font-size: 15px;

        &:hover, &:focus {
          color: #16889c;
        }
      }

      &.active {
        a {
          color: #16889c;
        }
      }
    }
  }

  .navbar-right {
    li {
      &:last-child, &:nth-last-child(2) {
        a {
          padding: 8px 25px;
          font-size: 15px;
        }
      }
    }
  }
}

#menu-main-menu {
  .sub-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 640px;
    background: @white;
    .box-shadow(0 0 20px 3px rgba(70, 70, 70, 0.15));
    top: 100%;
    left: -250%;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    .transition(all 0.5s ease);
    -moz-transform: skew(5deg);
    -webkit-transform: skew(5deg);
    transform: skew(5deg);
    z-index: 2;
    text-align: left;
    padding: 25px;

    &:before {
      top: -25px;
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      height: 25px;
    }

    &:after {
      bottom: 100%;
      left: 41%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: @white;
      border-width: 10px;
      margin-left: -10px;
    }

    li {
      display: block;
      float: left;
      width: 50%;
      position: relative;
      border-right: 1px solid #f3ebeb;
      border-bottom: 1px solid #f3ebeb;
      padding-left: 8px;

      a {
        text-transform: uppercase;
        display: block;
        width: 100%;
        .transition(all .4s ease);
        font-size: 12px;
        color: #4c4c54;
        padding: 15px;
        font-family: @roboto;

        span {
          padding-left: 10px;
        }

        &:hover {
          padding-left: 20px;
        }
      }

      &:nth-child(even) {
        border-right: 0;
      }

      &:nth-last-child(2) {
        border-bottom: 0;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  li {
    &:hover {
      .sub-menu {
        visibility: visible;
        opacity: 1;
        -webkit-transform: skew(0deg);
        -moz-transform: skew(0deg);
        -ms-transform: skew(0deg);
        -o-transform: skew(0deg);
        transform: skew(0deg);
        z-index: 10;
      }
    }
  }
}

// MOBILE MENU
.navbar-toggle {
  border: 1px solid #434343 !important;
  border-radius: 2px;
  padding: 10px 6px;
  .box-shadow(0 0 0 0);
  margin: 0;
  position: absolute;
  top: 50%;
  right: 0;
  .translate(0,-50%);
  .transition(all .3s ease-in-out);

  .icon-bar {
    background-color: #434343 !important ;
    width: 27px;
    .transition(all .3s ease-in-out);

    @media (max-width: 475px) {
      width: 24px;
    }
  }

  &:hover, &:focus {
    background-color: transparent !important;
    .box-shadow(0 0 0 1px #d4d4d4);

    .icon-bar:nth-child(2) {
      position: relative;
      top: -1px;
    }
    .icon-bar:last-child{
      position: relative;
      top: 1px;
    }
  }
}

@media (max-width: 991px) {
  //bootstrap nav-collapse
  .navbar-toggle{
    display: block!important;
  }
  .navbar-header {
    float: none;
    position: relative;
  }
  .navbar-main-menu {
    display: none;
  }
  //end
  //mobile-menu
}

.mobile-nav {
  background-color: @black;
  overflow: hidden;

  .menu-holder {
    ul {
      margin: 0;
      float: none;

      > li {
        float: none;
        display: block;

        a {
          padding: 15px 25px;
          font-family: @body-font;
          border-bottom: 1px solid #504f4f;
          font-size: 15px;
          color: @white;

          &:hover {
            background-color: @white;
            color: #434343;
            padding-left: 30px;
          }

          br {
            content: ' ';

            &:after {
              content: ' ';
            }
          }
        }

        &.dropdown {
          .dropdown-menu {
            position: static;
            top: auto;
            left: auto;
            float: none;
            width: 100%;
            min-width: 0%;
            padding: 0;
            margin: 0;
            border: none;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            .box-shadow(none);

            li {
              a {
                background-color: #2b2a2a;

                &:hover {
                  background-color: @white;
                }
              }
            }
          }
        }
      }
    }
    .nav-mobile {
      li {
        &:last-child {
          a {
            background-color: #2b2a2a;

            &:hover {
              background-color: @white;
            }
          }
        }
      }
    }
  }

  .cbp-spmenu-vertical {
    z-index: 2;
  }

  .menu-close {
    display: block;
    overflow: hidden;
    background-color: #0f779a;

    .close-menu {
      font-size: 30px;
      color: @white;
      float: right;
      background-color: transparent;
      border: none;
      outline: none !important;
      padding: 0;
      margin: 13px 16px 15px;

      span {
        display: block;
        height: 5px;
        background-color: @white;
        width: 25px;
        margin: 4px 0;
        position: relative;
        .transition(all ease-in-out 0.3s);
      }

      .icon-bar-1 {
        .rotate(-44deg);
        top: 0;
      }

      .icon-bar-2 {
        .rotate(46deg);
        top: 0;
      }

      .icon-bar-3 {
        .opacity(0);
      }

      .sr-only {
        display: none;
      }
    }
  }

  span.menudrop-icon.icon-sort-desc {
    position: absolute;
    right: 0;
    color: #fff;
    top: 0;
    padding: 7px 20px 11px;
    font-size: 20px;
    background-color: #414040;
    cursor: pointer;

    &:before {
      content: "\f0dd";
      font-family: FontAwesome;
    }
  }
}

.cbp-spmenu-push-toleft {
  .menu-close {
    .close-menu {
      .icon-bar-1 {
        .rotate(44deg);
        top: 7px;
      }

      .icon-bar-2 {
        .rotate(-46deg);
        top: -2px;
      }

      &:hover {
        .icon-bar-1 {
          .rotate(38deg);

          @media (max-width: 475px) {
            .rotate(42deg);
          }
        }

        .icon-bar-2 {
          .rotate(-40deg);

          @media (max-width: 475px) {
            .rotate(-45deg);
          }
        }
      }
    }
  }
}