.footer-list {
  h4 {
    color: #828282;
    font-size: 16px;
    line-height: initial;
    margin-top: 0;
    margin-bottom: 15px;
  }

  ul {
    li {
      display: block;

      a {
        color: #828282;
        font-family: @questrial;
        font-size: 16px;

        &:hover {
          color: #0f779a;
        }
      }
    }
  }
}
.social-icons {
  margin-top: 1em;

  ul {
    li {
      display: inline-block;
      margin: 0 2px;

      a {
        color: #b9b7b9;
        background-color: #e8e8e8;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        position: relative;
      }
    }
  }
}
.hr-list {
  .icon-list {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    .box-shadow(-1px 23px 31.85px 3.15px rgba(0, 0, 0, 0));

    &:hover {
      .box-shadow(-1px 23px 31.85px 3.15px rgba(0, 0, 0, 0.08));
    }

    .icon-img {
      zoom: 85%;
    }
  }
  .icon-title {
    h4 {
      font-size: 12px;
      line-height: 18px;
      color: #acaab0;
      text-transform: uppercase;
      font-family: @body-font;

      span {
        display: block;
      }
    }
  }
}
.work-list {
  margin-bottom: 4em;

  .work-desc {
    h5 {
      font-family: @runda-bold;
      font-size: 15px;
    }
    p {
      font-family: @runda-light;
      font-size: 14px;
      max-width: 220px;
    }
  }
}
.urine-list {
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  p {
    border: 1px solid #ececec;
    text-align: center;
    padding: 1.5em .5em;
    margin-bottom: 1em;
    margin-right: 1em;
    border-radius: 3px;
    border-radius: 3px;
    background-color: @white;
    .transition(all .4s ease);

    &:hover {
      .box-shadow(0px 14px 24px 0px rgba(0, 0, 0, 0.14));
      background-color: #09a2c9;
      border-color: #09a2c9;
      color: @white;
    }
  }

  &.drug-testing {
    p {
      &:hover {
        background-color: #9ac94e;
        border-color: #9ac94e;
      }
    }
  }
  &.immunizations-list {
    p {
      &:hover {
        background-color: #ffcb08;
        border-color: #ffcb08;
      }
    }
  }
}
.circle-grid {
  .col-md-3 {
    &:nth-child(2){
      .circle-list {
        &:before {
          .rotate(-12deg);
          top: 35%;
        }
      }
      .circle-icon {
        &:before {
          background-color: #59b3d4;
        }
      }
    }
    &:nth-child(3){
      .circle-icon {
        &:before {
          background-color: #43b77a;
        }
      }
    }
    &:nth-child(even) {
      .circle-list {
        margin-top: 3em;
      }
    }
    &:last-child {
      .circle-list {
        &:before {
          display: none;
        }
      }
    }
  }
  &.go {
    .circle-list {
      .opacity(1);

      &:before {
        width: 160px;
        transition-delay: .5s;
      }
      .circle-icon {
        top: 0;
        .opacity(1);
        transition-delay: .4s;
      }
    }
    .col-md-3 {
      &:nth-child(2){
        .circle-list {
          &:before {
            transition-delay: .7s;
          }
          .circle-icon {
            transition-delay: .6s;
          }
        }
      }
      &:nth-child(3){
        .circle-list {
          &:before {
            transition-delay: .9s;
          }
          .circle-icon {
            transition-delay: .8s;
          }
        }
      }
      &:last-child {
        .circle-list {
          .circle-icon {
            transition-delay: 1s;
          }
        }
      }
    }
  }
}
.circle-list {
  .opacity(0);

  &:before {
    content: '';
    background-color: #488dc8;
    height: 1px;
    width: 0px;
    position: absolute;
    left: 236px;
    top: 43%;
    .rotate(10deg);
    .transition(all .8s ease);
  }
  .circle-icon {
    display: inline-block;
    width: 130px;
    height: 130px;
    position: relative;
    top: -10px;
    .opacity(0);
    .transition(all .5s ease);

    &:before {
      content: '';
      background-color: #edad30;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .circle-img {
      max-width: 55px;

      img {
        width: 100%;
        .transition(all .7s ease);
      }
    }
  }

  h4 {
    font-size: 22px;
    margin-bottom: 5px;
  }
  p {
    font-size: 12px;
    max-width: 230px;
  }

  &:hover {
    .circle-img {
      img {
        .rotate(360deg);
      }
    }
  }
}
.circle-how {
  .col-md-3 {
    .circle-list {
      &:before {
        background-color: transparent;
        border: 1px dashed #4ec1e4;
      }
      h4 {
        color: #d0595c;
      }
    }
    .circle-icon {
      &:before {
        background-image: url('../images/cir-1.png');
        background-color: transparent;
      }
    }
    &:nth-child(2) {
      .circle-list {
        h4 {
          color: #09a2c9;
        }
      }
      .circle-icon {
        &:before {
          background-image: url('../images/cir-2.png');
          background-color: transparent;
        }
      }
    }
    &:nth-child(3) {
      .circle-list {
        h4 {
          color: #99ca3c;
        }
      }
      .circle-icon {
        &:before {
          background-image: url('../images/cir-3.png');
          background-color: transparent;
        }
      }
    }
    &:nth-child(4) {
      .circle-list {
        h4 {
          color: #ffcb08;
        }
      }
      .circle-icon {
        &:before {
          background-image: url('../images/cir-4.png');
          background-color: transparent;
        }
      }
    }
  }
}
.employee-grid {
  height: 507px;

  .employee-img {
    max-width: 550px;
    position: absolute;

    img {
      width: 100%;
    }

    &.employee-2 {
      right: 6%;
      top: 21%;
    }
  }
}
.feature-list {
  .box-shadow(2px 1px 30.4px 1.6px rgba(0, 0, 0, 0.06));
  padding: 1.5em 2em;
  margin-bottom: 1.5em;
  position: relative;
  .transition(all .4s ease);

  .feature-desc {
    padding-left: 3.5em;

    p {
      font-family: @runda-light;
      color: #646464;
      font-size: 14px;
    }
  }

  &:nth-child(2) {
    background-color: #4ed0f1;

    .feature-desc {
      p {
        color: @white;
      }
    }
  }

  &:hover {
    .box-shadow(2px 1px 30.4px 1.6px rgba(0, 0, 0, 0.13));
  }
}
.ps-list {
  .box-shadow(4px 9px 29.12px 2.88px rgba(0, 0, 0, 0.05));
  background-color: @white;
  padding: 4em 1em;
  max-width: 360px;
  margin: auto;
  .transition(all .4s ease);

  .ps-icon {
    display: inline-block;
    background-color: #8772a2;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;

    .ps-img {
      max-width: 60px;

      img {
        width: 100%;
        .rotate(0deg);
        .transition(all .7s ease);
      }
    }
  }
  .ps-details {
    max-width: 280px;
    margin: auto;

    h4 {
      color: #686868;
      font-size: 20px;
      margin-top: 15px;
      margin-bottom: 20px;
    }
    p {
      color: #8d8d8d;
      font-size: 14px;
    }
  }

  &:hover {
    .box-shadow(4px 9px 29.12px 2.88px rgba(0, 0, 0, 0.12));

    .ps-icon {
      .ps-img {
        img {
          .rotate(360deg);
        }
      }
    }
  }
}
.bene-list {
  .box-shadow(4px 2px 9.1px 0.9px rgba(0, 0, 0, 0.09));
  background-color: #69b0ae;
  padding: 4em 1em;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;

  &:before {
    content: '';
    border: 1px solid transparent;
    width: 100%;
    height: 100%;
    transition: all .4s ease;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  &:hover {
    &:before {
      border: 5px solid hsla(0,0%,100%,.5);
    }
  }

  .bene-icon {
    display: inline-block;
    max-width: 60px;

    img {
      width: 100%;
    }
  }

  .bene-desc {
    h4 {
      font-size: 18px;
    }
    p {
      font-family: @runda-light;
      font-size: 12px;
    }
  }
}
.about-list {
  ul {
    li {
      width: 19%;
      margin: auto;

      .icon-img {
        max-width: 60px;
        margin: auto;
        position: relative;
        top: 0;
        .transition(all .3s ease);
      }
      .icon-title {
        h4 {
          color: #72cdac;
          font-size: 18px;
        }
        p {
          color: #4f5057;
          font-size: 13px;
          margin: 10px 0;
        }
      }

      &:hover {
        .icon-img {
          top: 4px;
        }
      }
    }
  }
}
.team-list {
  background-color: @white;
  .box-shadow(2px 1px 30.4px 1.6px rgba(0, 0, 0, 0.06));
  border-radius: 10px;
  padding: 3em 4em;
  margin-bottom: 30px;
  .transition(all .4s ease);

  .team-img {
    position: absolute;
    background-color: #f2f2f2;
    width: 213px;
    height: 213px;
    border-radius: 50%;
    left: -13%;
    top: 0;

    img {
      zoom: 60%;
    }
  }
  .team-content {
    padding-left: 6em;

    h5 {
      font-size: 18px;
      min-height: 50px;
      color: #067b99;
      text-align: center;
    }
    p {
      color: #5b5b5b;
      font-size: 15px;
      text-align: justify;
    }

    &.yellow {
      h5 {
        color: #ffcb08;
      }
    }
    &.green {
      h5 {
        color: #99ca3c;
      }
    }
  }

  &:hover {
    .box-shadow(2px 1px 30.4px 1.6px rgba(0, 0, 0, 0.04));
  }
}
.team-holder {
  .col-md-6 {
    &:nth-child(even) {
      .team-img {
        float: right;
        left: initial;
        right: -13%;
      }
      .team-content {
        padding-left: 0;
        padding-right: 6em;
      }
    }
  }
}
.news-content {
  .carousel {
    width: 100%;
  }
  .carousel-inner {
    width: 100%;
    padding-bottom: 2em;
  }
  .carousel-control {
    width: initial;
    .opacity(1);
    text-shadow: none;
    background-color: #000;
    background-image: none !important;
    bottom: initial;
    top: 50%;
    padding: 10px 20px;
    font-size: 30px;
    height: initial;
    line-height: initial;
    .translate(0,-50%);
  }
  .ps-list {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    border-radius: 10px;
    max-width: initial;
  }
  .ps-icon {
    background-color: transparent !important;
    width: 100%;
    height: initial;
    margin-bottom: 2em;
    overflow: hidden;
    border-radius: 0;

    .ps-img {
      max-width: initial;
      height: 250px;
    }
  }
  .ps-details {
    p {
      color: #4f5057;
      font-size: 14px;
    }
  }
  .ps-sub-heading {
    margin-top: 3em;
    padding-top: 2em;
    position: relative;

    &:before {
      content: '';
      background-color: #09a2c9;
      width: 50px;
      height: 3px;
      position: absolute;
      top: 0;
      left: 50%;
      .translate(-50%,0);
    }

    p {
      font-size: 12px;
    }
  }
}
.list-social-blog {
  margin-top: 3em;

  a {
    background-color: #0c0c0c;
    padding: 14px 18px;
    border: 1px solid #0c0c0c;
    color: @white;

    &:hover {
      background-color: transparent;
      color: #0c0c0c;
    }
  }
}
.wp-pagenavi span.current {
  border: 0;

  a.active {
    background-color: #e80082;
    color: #fff;
  }
}

.concentrate-list {
  .col-md-6 {
    &:first-child {
      .concentrate-content {
        background-color: #067b99;

        p {
          color: @white;
        }
      }
    }
  }
  .concentrate-content {
    background-color: #fbfbfc;
    padding: 1.5em 0 2em;
    margin-bottom: 3em;
    min-height: 214px;
    .box-shadow(11px 20px 20px 0px rgba(0, 0, 0, 0.08));

    p {
      color: #4f5057;
      margin: 0 auto;
      font-family: @questrial;
      font-size: 14px;
      line-height: 19px;

      span {
        display: block;
      }
    }
  }
  .concentrate-icon {
    margin-bottom: 15px;

    img {
      zoom: 80%;
    }
  }
}
.competencies.list {
  .box-shadow(11px 20px 20px 0px rgba(0, 0, 0, 0.08));
  background-color: #fbfbfc;
  padding: 2em;
  margin-bottom: 4em;
  margin-right: 1em;

  h4 {
    font-size: 20px;
    color: #4f5057;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 27px;
  }
  p {
    margin: 0;
    color: #4f5057;
  }
}
.blog-pagination {
  margin-top: 7em;

  .wp-pagenavi {
    span.current {
      margin: 0;
      padding: 0;
    }
    a, span.extend {
      font-size: 18px;
      border: 1px solid @black;
      padding: 15px 20px;
      margin: 0 10px;
      color: @black;
      display: inline-block;

      .fa {
        font-weight: bold;
      }

      &:hover {
        background-color: @black;
        color: @white;
      }

      @media (max-width: 700px) {
        font-size: 14px;
        padding: 10px 15px;
        margin-bottom: 20px;
      }
    }
  }
}

.wp-pagenavi span.current {
  border: 0;

  a.active {
    background-color: @black;
    color: @white;
  }
}