@media (max-width: 1500px) {
  .section-track .screening-img {
    max-width: 800px;
    margin: 0;
  }
  .section-track .screening-img img {
    width: 100%;
  }
}
@media (max-width: 1408px) {
  .section-track .screening-img {
    max-width: 700px;
  }
}
@media (max-width: 1366px ) {
  .section-time-off {
    .screening-img img {
      width: 100%;
    }
    .section-title {
      padding-left: 15px;
      padding-right: 2em;
    }
  }
  .section-started .mobile-phone .mobile.mobile-3 {
    max-width: 550px;
  }
  .benefits-img {
    top: 15%;
    max-width: 700px;
  }
  .section-payroll {
    width: 800px;
  }
  .pb-12 {
    padding-bottom: 9em !important;
  }
  .about-img {
    right: 2%;
    max-width: 600px;
    top: 30.5%;
  }
  .section-overview-about:before {
    zoom: 60%;
  }
  .team-list .team-img {
    left: -7%;
    zoom: 80%;
  }
  .team-list .team-content {
    padding-left: 5em;
  }
  .team-holder .col-md-6:nth-child(even) .team-img {
    right: -7%;
  }
  .team-holder .col-md-6:nth-child(even) .team-content {
    padding-right: 4em;
  }
  .section-careers:before {
    zoom: 65%;
  }
  .safer-list {
    .transform-50 {
      width: 80%;
    }
  }
}
@media (max-width: 1326px) {
  .careers-benefits .cb-list {
    min-height: 164px;
  }
}
@media (max-width: 1290px) {
  .bene-list {
    height: 343px;
  }
}
@media (max-width: 1280px) {
  .banner-home {
    height: 680px;
  }
  .section-content {
    padding: 4em 0;
  }
  .section-partners ul li {
    max-width: 220px;
  }
  .section-request {
    margin-top: -15em;
  }
  .section-parent-origin {
    padding-bottom: 15em;
  }
  .section-started .mobile-phone {
    height: 300px;
  }
  .section-started .mobile-phone .mobile.mobile-3 {
    max-width: 520px;
  }
  .banner-content h2 {
    max-width: 550px;
  }
  .circle-list:before {
    left: 218px;
  }
  .circle-grid.go .circle-list:before {
    width: 135px;
  }
  .employee-grid {
    height: 530px;

    .employee-img {
      max-width: 500px;

      &.employee-2 {
        top: 18%;
      }
    }
  }
  .mn-23 {
    margin-top: -26em;
  }
  .feature-section {
    margin: 2em auto 0;
  }
  .col-md-4.pull-right .section-title {
    margin-right: 3em;
  }
  .about-img {
    max-width: 550px;
    top: 31%;
  }
  .occupation-img {
    max-width: 550px;
    bottom: 0;
  }
  .section-occupational .section-title:after, .section-occupational .section-title:before {
    zoom: 60%;
  }
  .section-occupational .section-title:before {
    left: -10%;
    top: -70%;
  }
  .section-occupational .section-title:after {
    right: -5%;
    bottom: -70%;
  }
  .section-safer .safer-list {
    margin: 0 2em 5em 2em;
  }
  .section-testing .screening-img {
    max-width: 700px;
  }
}
@media (max-width: 1150px) {
  h2 {
    font-size: 40px;
    line-height: 45px;
  }
  .banner-home {
    height: 550px;
  }
  .banner-content h2 {
    max-width: 480px;
  }
  .section-top {
    margin-top: 4em;
  }
  .section-title p {
    font-size: 16px;
  }
  .footer-copyright p, .footer-list ul li a {
    font-size: 15px;
  }
  .social-icons ul li {
    margin: 0;
  }
  .section-sub-banner p {
    max-width: 380px;
  }
  .hr-banner {
    max-width: 400px;

    &.hr-building {
      max-width: 280px;
    }
  }
  .section-origin {
    .section-title p {
      max-width: 500px;
    }
    .screening-img {
      height: 540px;
      padding-left: 3em;
    }
  }
  .section-sub-banner .col-md-6.pull-right {
    margin: 3em 0;
  }
  .sol-column .sol-icon {
    width: 90px;
    height: 90px;

    img {
      zoom: 60%;
    }
  }
  .work-icon img {
    zoom: 80%;
  }
  .work-list .work-desc h5 {
    max-width: 130px;
  }
  .banner-mob {
    max-width: 280px;
  }
  .mobile-holder .mobile-1 {
    max-width: 280px;
  }
  .mobile-holder .mobile-2 {
    left: 11%;
    max-width: 400px;
  }
  .benefits-img {
    top: 10%;
    max-width: 600px;
  }
  .benefits-grid {
    padding-right: 1em;
    margin-top: 2em;

    .benefits-col {
      padding: 2em;
    }
  }
  .circle-grid.go .circle-list:before {
    width: 110px;
  }
  .circle-list:before {
    left: 208px;
  }
  .employee-grid {
    height: 500px;

    .employee-img {
      max-width: 450px;
    }
  }
  .time-img {
    max-width: 600px;
  }
  .section-laptop {
    max-width: 800px;
  }
  .section-bg-payroll {
    height: 500px;
  }
  .section-payroll {
    width: 700px;
  }
  .payroll.payroll-2 {
    max-width: 180px;
  }
  .mn-23 {
    margin-top: -20em;
  }
  .feature-list {
    padding: 1.5em 4em;
  }
  .section-overview-about:before {
    zoom: 50%;
  }
  .section-careers:before {
    zoom: 55%;
    bottom: 0;
  }
  .team-list .team-img {
    zoom: 70%;
  }
  .team-list .team-content {
    padding-left: 4em;
  }
  .team-holder .col-md-6:nth-child(even) .team-content {
    padding-right: 3em;
  }
  .team-list .team-content p {
    text-align: left;
  }
  .about-img {
    top: 22%;
  }
  svg#origin-experience {
    margin-right: 5em;
  }
  .modal-body iframe {
    width: 70%;
  }
  .occupation-img {
    max-width: 450px;
    right: 8%;
  }
  .section-occupational .section-title:after, .section-occupational .section-title:before {
    zoom: 55%;
  }
  .section-occupational .section-title:after {
    right: -20%;
  }
  .section-testing .screening-img {
    max-width: 600px;
  }
  .section-track .screening-img {
    max-width: 550px;
  }
}
@media (max-width: 1106px) {
  .social-icons ul li a {
    width: 28px;
    height: 28px;
    font-size: 14px;
  }
  .section-origin .testi-holder {
    margin-top: 3em;
  }
  .section-origin .section-title {
    padding: 0;
  }
  .feature-list {
    padding: 1em 2em 1em 1.5em;
  }
  .section-payroll {
    width: 650px;
  }
}
@media (max-width: 1055px) {
  .navbar-default .navbar-nav > li > a {
    font-size: 14px;
  }
  .careers-benefits .cb-list {
    min-height: 214px;
  }
}
@media (max-width: 1024px) {
  h2 {
    font-size: 35px;
    line-height: 42px;
  }
  .banner-home {
    height: 500px;
  }
  .banner-content h2 {
    max-width: 450px;
  }
  .section-create-dashboard {
    display: block;
  }
  .section-sub-banner .section-origin .screening-img {
    display: none;
  }
  .section-origin {
    background-image: none !important;

    .col-md-6 {
      width: 100%;
    }
    .pull-right {
      float: none !important;
    }
    .origin-desc {
      padding-left: 0;
    }

    .section-title {
      display: block;
      margin-top: 3em;
      position: relative;
      top: 0;
      .translate(0,0);

      h3 {
        text-align: center;
      }

      p {
        margin: 20px auto;
        max-width: 690px;
        text-align: center;
      }

      .testi-holder {
        max-width: 700px;
        margin: 4em auto 0;
      }
    }
  }
  .social-icons ul li a {
    width: 27px;
    height: 27px;
  }
  .hr-list .icon-list {
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    height: initial;
    width: initial;
    
    .icon-img {
      position: relative;
      top: 0;
      .transition(all .4s ease);
    }

    &:hover {
      -webkit-box-shadow: 0 0 0 0;
      box-shadow: 0 0 0 0;
      
      .icon-img {
        top: 5px;
      }
    }
  }
  .screen-img {
    margin-top: -17%;
  }
  .solutions-grid .col-md-6 {
    width: 46%;
  }
  .sol-column {
    .sol-icon {
      width: 75px;
      height: 75px;
      float: none;
      margin: auto;

      img {
        zoom: 55%;
      }
    }
    .sol-desc {
      margin-top: 1em;
      padding-left: 0;

      h5 {
        font-size: 16px;
      }
    }
  }
  .why-section svg {
    max-width: 240px;
    height: 250px;
  }
  .banner-mob {
    max-width: 260px;
  }
  .mobile-holder .mobile-1 {
    max-width: 260px;
  }
  .mobile-holder .mobile-2 {
    left: 15%;
    max-width: 300px;
  }
  .section-started .mobile-phone .mobile.mobile-3 {
    max-width: 500px;
  }
  .benefits-img {
    max-width: 550px;
  }
  .benefits-grid {
    margin-top: 4em;
  }
  .benefits-icon img {
    zoom: 80%;
  }
  .circle-list:before {
    left: 185px;
  }
  .circle-grid.go .circle-list:before {
    width: 90px;
  }
  .circle-list .circle-icon {
    width: 120px;
    height: 120px;
  }
  .circle-list .circle-icon .circle-img {
    max-width: 50px;
  }
  .circle-list h4 {
    font-size: 20px;
  }
  .employee-grid .employee-img {
    max-width: 400px;
  }
  .time-img {
    max-width: 550px;
  }
  .bene-list {
    padding: 2em 1em;
  }
  .bene-list .bene-icon {
    max-width: 50px;
  }
  .about-img {
    max-width: 500px;
  }
  .section-overview-about:before {
    display: none;
  }
  .team-list .team-img {
    zoom: 65%;
  }
  .team-list .team-content {
    padding-left: 2.5em;
  }
  .team-holder .col-md-6:nth-child(even) .team-content {
    padding-right: 2em;
  }
  .team-list .team-content h5 {
    max-width: 250px;
    margin: 10px auto;
  }
  .news-content .ps-list .ps-details {
    padding: 0 1em;
    max-width: initial;
    min-height: 110px;
  }
  .news-content .ps-details p {
    font-size: 13px;
  }
  .sidebar-list h3, .blog-box h3 {
    font-size: 25px;
  }
  .occupation-img {
    max-width: 400px;
  }
  .section-sub-banner .testi-desc p {
    font-size: 18px;
  }
  .section-occupational .section-title:after {
    right: -5%;
  }
  .section-occupational .section-title:before {
    left: -5%;
  }
  .section-safer .safer-list {
    margin: 0 1em 3em;
    padding: 0;

    .transform-50 {
      width: 100%;
      padding: 0 2em;
    }
  }
  .section-safer .safer-icon {
    zoom: 60%;
  }
  .section-safer .safer-list h4 {
    font-size: 22px;
  }
  .section-testing .screening-img {
    max-width: 500px;
  }
  .section-concentrate .section-title {
    padding-left: 3em;
    padding-right: 3em;
  }
  .competencies.list h4 {
    font-size: 17px;
  }
  .competencies.list {
    min-height: 238px;
  }
  .section-carousel .company-carousel {
    margin: 0 1em;
  }
}
@media (max-width: 991px) {
  .pull-left, .pull-right, .fl-left, .fl-right {
    float: none !important;
  }
  .transform-y {
    position: relative;
    top: 0;
    .translate(0, 0);
  }
  .banner-desktop {
    display: none;
  }
  .banner-mobile {
    display: block;
    max-width: 55%;
    margin: 0 auto 3em;

    img {
      width: 100%;
    }
  }
  .banner-home {
    height: initial;
    background-image: none !important;
  }
  .banner-content h2 {
    text-align: center;
    margin: auto;
  }
  .banner-content {
    p {
      text-align: center;
      margin: 10px auto;
    }
    .animated {
      text-align: center;
    }
  }
  .board-img {
    padding-right: 0;
    max-width: 600px;
    margin: auto;
  }
  .board-content {
    position: relative;
    top: 0;
    .translate(0,0);
    max-width: 600px;
    margin: auto;

    p {
      margin: 0;
    }
  }
  .col-content {
    margin-bottom: 2em;
  }
  .col-img img {
    zoom: 70%;
  }
  .footer-copyright p, .footer-list ul li a {
    font-size: 14px;
  }
  .footer-list h4 {
    font-size: 15px;
  }
  .navbar-default .navbar-nav > li {
    margin: 0 10px;

    > a {
      font-size: 15px;
    }

    &:last-child {
      > a {
        padding: 10px 25px;
      }
    }
  }
  .section-top {
    margin-top: 2em;
  }
  .laptop-content-list {
    margin: 2em auto 0;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .hr-list .icon-list {
    margin-bottom: 2em;
    padding: 0;
    border-radius: 0;
  }
  .section-sub-banner {
    .screening-img {
      max-width: 70%;
    }
    .section-title {
      text-align: center;
      margin-top: 2em;
      padding: 0;

      p {
        max-width: 500px;
        margin: 20px auto;
        text-align: center;
      }
    }
  }
  .section-laptop {
    max-width: 600px;
  }
  .section-sub-banner .col-md-6.pull-right {
    margin: 0;
  }
  .section-sub-banner h3 span {
    display: inline-block;
  }
  .section-services a {
    text-align: center;
  }
  .services-holder {
    padding: 2.5em 3em;
  }
  .section-sub-banner .screening-img video {
    height: initial;
  }
  .solutions-grid .col-md-6 {
    width: 60%;
    margin: 0 auto 30px;
    height: initial !important;
  }
  .work-list {
    margin-bottom: 0;
    text-align: center;
    margin-top: 4em;

    .work-desc {
      h5 {
        margin: 10px auto;
      }
      p {
        margin: 10px auto;
      }
    }
  }
  .why-section svg {
    max-width: 400px;
    height: 300px;
  }
  .mobile-holder .mobile-1 {
    max-width: 290px;
    top: 0;
  }
  .mobile-holder .mobile-2 {
    left: 14%;
    max-width: 380px;
  }
  .section-started .mobile-phone {
    height: initial;
  }
  .section-started .mobile-phone .mobile {
    display: none;
  }
  .benefits-grid {
    margin-top: 0;
    padding-right: 0;
  }
  .benefits-grid .col-md-6:nth-child(1) .benefits-col, .benefits-grid .col-md-6:nth-child(3) .benefits-col {
    margin-top: 0;
  }
  .circle-grid .col-md-3:nth-child(even) .circle-list {
    margin-top: 0;
  }
  .circle-list {
    margin-bottom: 2em;
  }
  .circle-list:before {
    display: none;
  }
  .employee-grid {
    height: initial;
    text-align: center;
  }
  .employee-grid .employee-img {
    max-width: 400px;
    position: relative;
    display: inline-block;
  }
  .employee-grid .employee-img.employee-2 {
    top: 0;
    right: 0;
    max-width: 380px;
  }
  .section-laptop {
    margin-top: 2em;
  }
  .icon-img {
    max-width: 55px;
  }
  .icon-title h4 {
    font-size: 16px;
  }
  .pt-4 {
    padding-top: 0 !important;
  }
  .pt-16 {
    padding-top: 4em !important;
  }
  .benefits-payroll {
    padding-right: 0;
    background-position: center;
    padding-bottom: 0;
    margin-top: 3em;
  }
  .benefits-payroll .col-md-4:nth-child(2), .benefits-payroll .col-md-4:nth-child(5) {
    margin-top: 0;
  }
  .feature-img {
    max-width: 600px;
    margin: auto;
  }
  .feature-section .feat-icon {
    margin: auto;
  }
  .feature-list .feature-desc {
    padding-left: 0;
    text-align: center;
    margin-top: 1em;
  }
  .feature-section {
    margin: 1em auto 0;
  }
  .ps-list {
    margin-bottom: 2em;
  }
  .col-md-4.pull-right .section-title {
    margin-right: 0;
  }
  .feature-img {
    max-width: 500px;
  }
  .mn-8 {
    margin-top: 0;
    padding: 4em 0 0;
  }
  .pb-12 {
    padding-bottom: 4em !important;
  }
  .process-col .process-number h4 {
    text-align: center;
  }
  .process-col .process-desc {
    padding-left: 0;
    text-align: center;

    p {
      max-width: 200px;
      margin: auto;
    }
  }
  .title-row .title-number {
    margin: 0 auto .5em;
  }
  .title-row h3 {
    padding-left: 0;
  }
  body#about-us #page-wrapper {
    padding-top: 100px;
  }
  body#about-us .banner-home {
    margin-bottom: 4em;
  }
  .about-list ul {
    text-align: center;
  }
  .about-list ul li {
    width: 25%;
    margin: 0 auto 3em;
  }
  .section-overview-about {
    padding-top: 0;
  }
  .section-careers {
    padding-top: 0;
    padding-bottom: 0;
  }
  .section-careers .screening-img {
    max-width: 51%;
  }
  .section-careers:before {
    display: none;
  }
  .team-list .team-img {
    display: none;
  }
  .team-list {
    padding: 3em;
  }
  .team-list .team-content {
    padding-left: 0;
  }
  .news-content .ps-list .ps-details {
    padding: 0 2em;
    min-height: 67px;
  }
  .team-holder .col-md-6:nth-child(even) .team-content {
    padding-right: 0;
  }
  .blog-box {
    margin-top: 3em;
  }
  .sidebar-list {
    padding-left: 1em;
  }
  .request-form .form-group {
    margin-right: 0;
  }
  body#our-platformoccupational-health-services #page-wrapper {
    padding-top: 100px;
  }
  .section-occupational .section-title:after, .section-occupational .section-title:before {
    display: none;
  }
  .section-safer .safer-list {
    max-width: 400px;
    margin: 0 auto 3em;
  }
  .section-testing .screening-img {
    margin: auto;
  }
  .urine-list p {
    padding: 1em;
  }
  .urine-list .col-md-3 {
    display: inline-table;
  }
  .mw-550 {
    margin: auto;
  }
  .concentrate-list {
    margin-top: 4em;
  }
  .section-safer {
    margin-left: 0;
    margin-right: 0;
  }
  .bene-list {
    height: 232px;
  }
  .careers-benefits .cb-list {
    min-height: initial;
  }
  .cb-icon {
    text-align: center;
    margin-bottom: 1em;
  }
  .careers-benefits .cb-desc {
    padding-left: 0;
    text-align: center;
    max-width: 350px;
    margin: auto;
  }
  .screening-single {
    padding-right: 0 !important;
  }
}
@media (max-width: 818px) {
  .process-col {
    min-height: 212px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 30px;
    line-height: 32px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 25px;
    line-height: 28px;
  }
  .banner-content h2 {
    max-width: 350px;
  }
  .navbar-fixed-top .menu-holder {
    padding: 1em 0;
  }
  .board-content h4 {
    max-width: 280px;
  }
  .section-create-dashboard {
    max-width: 600px;
  }
  .section-sub-banner .screening-img {
    max-width: 90%;
  }
  .footer-logo {
    max-width: 150px;

    img {
      width: 100%;
    }
  }
  .footer-copyright p, .footer-list ul li a {
    font-size: 12px;
  }
  .footer-list h4 {
    font-size: 14px;
  }
  .social-icons ul li a {
    width: 20px;
    height: 20px;
  }
  .hr-list .icon-list .icon-img {
    zoom: 70%;
  }
  .laptop-content-list {
    margin: 1em auto 0;
  }
  .hr-list {
    margin: 3em auto 0;
  }
  .section-sub-banner .max-400 {
    max-width: 300px;
  }
  .solutions-grid .col-md-6 {
    width: 90%;
  }
  .section-bg-payroll {
    height: 400px;
  }
  .section-payroll {
    width: 500px;
  }
  .payroll.payroll-2 {
    max-width: 140px;
  }
  .mn-23 {
    margin-top: -14em;
  }
  .benefits-payroll {
    max-width: 600px;
    margin: 3em auto 0;
  }
  .bene-list .bene-desc p {
    margin: auto;
  }
  .team-list .team-content h5 {
    min-height: 50px;
    font-size: 16px;
  }
  .news-content .ps-list .ps-details {
    min-height: 80px;
  }
  .competencies.list {
    min-height: 290px;
  }
  .section-cb-careers {
    margin-bottom: 3em;
    margin-top: 0em;
  }
}
@media (max-width: 767px) {
  .banner-content p span {
    display: inline-block;
  }
  .footer-logo {
    margin: auto;
  }
  .section-footer {
    padding-bottom: 2em;

    .gap-20 {
      height: 10px;
    }
    .footer-copyright {
      p {
        text-align: center;
      }
    }
    .footer-list {
      width: 33%;
      float: left;
      margin-top: 15px;
      margin-left: auto;
      margin-right: auto;
      padding: 15px;

      h4 {
        font-size: 14px;
        margin-bottom: 10px;
      }

      ul {
        li {
          margin-top: 3px;

          a {
            font-size: 13px;
          }
        }
      }
    }
  }
  .col-md-9 .footer-list ul {
    column-count: 1;
  }
  .social-icons ul li a {
    width: 28px;
    height: 28px;
  }
  .benefits-grid {
    max-width: 500px;
    margin: auto;
  }
  .icon-list {
    margin-bottom: 2em;
  }
  #page-wrapper {
    padding-top: 80px;
  }
  .section-request {
    margin-top: 0;
  }
  .section-parent-origin {
    padding-bottom: 4em;
  }
  .section-content.section-gap.pt-0 {
    padding: 0;

    .gap-100 {
      height: 0;
    }
  }
  .process-col {
    margin-bottom: 2em;
  }
  .section-content.section-mobile-gap {
    padding: 0;
  }
  .news-content .ps-list .ps-details {
    min-height: initial;
  }
  .news-content .ps-details p {
    font-size: 14px;
  }
  .modal-body iframe {
    width: 90%;
  }
  .team-list .team-content h5 {
    min-height: initial;
  }
  .request-form {
    max-width: 90%;
  }
  .concentrate-list .concentrate-content, .competencies.list {
    max-width: 400px;
    margin: 0 auto 3em;
  }
  .competencies.list {
    min-height: initial;
  }
  .section-carousel .company-carousel {
    margin: 0 1em 2em;
    max-width: 40%;
  }
  .section-carousel .carousel-control {
    top: 30%;
    margin: 0 .5em;
  }
  .section-carousel .carousel-indicators {
    bottom: -20%;
  }
  .process-col {
    min-height: initial;
  }
  .bene-list {
    height: initial;
  }
}
@media (max-width: 640px) {
  h2 {
    font-size: 28px;
    line-height: 30px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 24px;
    line-height: 26px;
  }
  .navbar-default .menu-holder {
    padding-top: 1.3em;
  }
  .board-content h4 {
    max-width: 260px;
  }
  .banner-content p {
    font-size: 15px;
  }
  .board-img {
    max-width: 500px;
  }
  .section-create-dashboard {
    max-width: 500px;
  }
  .hr-list .icon-title h4 {
    font-size: 10px;
    line-height: 14px;
  }
  .section-sub-banner .max-400 {
    max-width: 250px;
  }
  .four-cols .col-img {
    max-width: 55px;
  }
  .gap-30 {
    height: 0;
  }
  .services-holder .services-icon {
    max-width: 40px;
  }
  .why-section svg {
    max-width: 300px;
    height: 280px;
  }
  .circle-list .circle-icon {
    zoom: 80%;
  }
  .circle-list .circle-icon .circle-img {
    max-width: 40px;
  }
  .icon-img {
    max-width: 45px;
  }
  .icon-title h4 {
    font-size: 15px;
  }
  .laptop-content-list .col-md-3:last-child .icon-list {
    margin-bottom: 0;
  }
  .laptop-content-list .col-md-3:nth-last-child(2) .icon-list {
    margin-bottom: 0;
  }
  .hr-list {
    margin: 3em auto 0;
  }
  .section-bg-payroll {
    height: 300px;
    background-position: right;
  }
  .section-payroll {
    width: 360px;
  }
  .payroll.payroll-2 {
    max-width: 100px;
  }
  .mn-23 {
    margin-top: -8em;
  }
  .feature-img {
    max-width: 400px;
  }
  .ps-list {
    padding: 3em 1em;
  }
  .ps-list .ps-icon {
    width: 90px;
    height: 90px;
  }
  .ps-list .ps-icon .ps-img {
    max-width: 45px;
  }
  .about-list ul li {
    width: 100%;
  }
  .news-content .ps-icon .ps-img {
    max-width: initial;
  }
  .news-content .ps-list .ps-icon {
    width: 100% !important;
    height: initial !important;
  }
  .section-header.single-blog .header-title h2 {
    font-size: 22px;
    line-height: 28px;
  }
  .single-image .blog-img {
    height: 250px;
  }
  .section-header.single-blog .single-content {
    margin-top: 2em;

    p {
      font-size: 15px;
    }
  }
  .sidebar-list h3, .blog-box h3 {
    font-size: 24px;
  }
  .sidebar-list .sidebar-content .news-content p {
    font-size: 15px;
  }
  .request-form {
    padding: 2em;
  }
  .careers-benefits {
    max-width: 90%;
  }
  .careers-openings {
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 15px;
  }
  .banner-mobile {
    max-width: 90%;
    margin: 0 auto 2em;
  }
  .banner-content {
    .translate(0,0);
    position: relative;
    top: 0;
    text-align: center;
  }
  .banner-content h2 {
    margin: 10px auto;
  }
  .banner-content .gap-30 {
    height: 10px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 23px;
    line-height: 25px;
  }
  .board-content ul li {
    margin: 5px 0;
  }
  .section-title p {
    font-size: 15px;
    max-width: 300px;
  }
  .section-top {
    margin-top: 0;
  }
  .section-partners ul li {
    margin: auto;
    display: block;
  }
  .section-request {
    padding: 2em 0;

    .gap-30 {
      height: 5px;
    }
  }
  .section-footer .footer-list {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
  }
  .footer-copyright p, .footer-list ul li a {
    font-size: 14px;
  }
  .section-footer .footer-list h4 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .four-cols .col-img {
    max-width: 50px;
  }
  .hr-list .icon-list .icon-img {
    zoom: 65%;
  }
  .why-section svg {
    max-width: 280px;
    height: 280px;
  }
  .benefits-icon img {
    zoom: 75%;
  }
  .btn-subscribe {
    margin-bottom: 3em;
  }
}
@media (max-width: 550px) {
  .why-section svg {
    max-width: 230px;
    height: 250px;
  }
  .feature-list .feature-desc p {
    max-width: 250px;
    margin: auto;
  }
  .section-payroll {
    width: 340px;
  }
  .payroll.payroll-2 {
    max-width: 80px;
  }
  .mn-23 {
    margin-top: -7em;
  }
  svg#origin-experience {
    width: 450px;
    margin-right: 0;
  }
  .concentrate-list .concentrate-content, .competencies.list {
    max-width: 90%;
  }
  .urine-list {
    justify-content: initial;
    display: block;
    -ms-flex-wrap: initial;
    flex-wrap: initial;
    max-width: 80%;
    margin: auto;

    .col-md-3 {
      display: block;
    }

    p {
      margin-right: 0;
    }
  }
  .immunizations-list {
    margin-top: 1em;
  }
  .gap-50 {
    height: 20px;
  }
  .section-carousel .carousel-control {
    font-size: 30px;
  }
  .laptop-content-list {
    justify-content: normal;
    display: block;
    display: block;
    -ms-flex-wrap: initial;
    flex-wrap: initial;
  }
}
@media (max-width: 475px) {
  .why-section svg {
    max-width: 240px;
    height: 200px;
  }
  .store-links .store {
    display: block;
    margin-bottom: 15px;
  }
  .store-links .store a {
    margin: auto;
  }
  .features-container .col-content {
    padding: 2em 0;
  }
  .mobile-nav .menu-holder ul > li a {
    font-size: 14px;
    padding: 12px 25px;
  }
  .mobile-nav .menu-holder ul > li.dropdown .dropdown-menu li a {
    font-size: 13px;
    padding: 10px 25px;
  }
  .mobile-nav .menu-close .close-menu {
    margin: 8px 16px 8px;
  }
  .mobile-nav .menu-close .close-menu span {
    width: 20px;
  }
  .mobile-nav span.menudrop-icon.icon-sort-desc {
    padding: 2px 20px 10px;
  }
  .process-col .process-number h4 {
    font-size: 40px;
  }
  .news-content .ps-list .ps-details {
    padding: 0 3em;
  }
  .news-content .ps-details p {
    font-size: 13px;
  }
  .news-content .ps-icon {
    margin-bottom: 2em;
  }
  .news-content .carousel-control {
    padding: 6px 15px;
    font-size: 25px;
  }
  .news-content .ps-icon .ps-img {
    height: 200px;
  }
  svg#origin-experience {
    width: 390px;
    padding-right: 4.5em;
  }
  .modal-body iframe {
    height: 300px;
  }
  .hr-list .icon-list .icon-title {
    min-height: 28px;
  }
}
@media (max-width: 400px) {
  .why-section svg {
    height: 180px;
    max-width: 180px;
  }
  .just-center {
    justify-content: center;
    display: initial;
    display: initial;
    display: initial;
    flex-wrap: initial;
  }
  .section-services a {
    height: initial !important;
  }
  .services-holder {
    padding: 1em 0;
    .box-shadow(0 0 0);
  }
  .section-services a:hover .services-holder {
    .box-shadow(0 0 0);
  }
}
@media (max-width: 375px) {
  h2 {
    font-size: 25px;
    line-height: 30px;
  }
  h4 {
    font-size: 22px;
    line-height: 25px;
  }
  .banner-content p {
    max-width: 250px;
    margin: 0 auto 1em;
  }
  .section-content {
    padding: 3em 0;
  }
  .section-top {
    margin-top: 1.5em;
  }
  .section-request {
    margin-top: 0;
  }
  .section-origin .testi-holder {
    padding: 2em 1em;
  }
  .section-origin .testi-holder:before {
    top: -9%;
  }
  .section-request p {
    max-width: 260px;
  }
  .col-desc p {
    max-width: 280px;
  }
  .why-section svg {
    height: 140px;
    max-width: 140px;
  }
  .section-payroll {
    width: 280px;
  }
  .payroll.payroll-2 {
    max-width: 70px;
  }
  .banner-content h2 {
    max-width: 320px;
  }
  .section-overview-us {
    margin-top: 4em;
  }
  .team-list {
    padding: 2em;
  }
  .team-list .team-content p {
    font-size: 14px;
  }
  .request-form {
    padding: 1em;
    max-width: 100%;

    h3 {
      margin-bottom: .5em;
      font-size: 20px;
    }

    .form-control {
      padding: 5px;
      font-size: 12px;
    }
    .btn-common {
      font-size: 12px;
      padding: 10px 45px;
    }
  }
  .section-carousel .company-carousel {
    max-width: 85%;
  }
}
@media (max-width: 325px) {
  svg#origin-experience {
    width: 350px;
    padding-right: 5em;
  }
}