.section-content {
  padding: 7em 0;

  &:focus {
    outline: none;
  }
}
.section-board {
  position: relative;

  .col-md-4 {
    position: static;
  }
}
.section-banner-about {
  .banner-home {
    background-position: left;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

.section-title {
  h2 {
    span {
      display: block;
    }
  }
  h3 {
    span {
      display: block;
    }
  }
  p {
    font-size: 17px;
    max-width: 600px;
    margin: 20px auto;
  }
  &.mw-540 {
    p {
      max-width: 540px;
    }
  }
}
.section-mw500 {
  p {
    max-width: 500px;
  }
}
.section-top {
  margin-top: 6em;
}
.section-parent-origin {
  padding-bottom: 17em;
}
.section-origin {
  .section-title {
    display: inline-block;
    padding: 1em 0;

    p {
      margin: 20px 0;
      line-height: 30px;
      color: #202020;
      max-width: 500px;
    }
  }
  
  .origin-desc {
    padding-left: 2em;
  }
  
  .testi-holder {
    border: 1px solid #e3e3e3;
    border-radius: 20px;
    padding: 2em;
    max-width: 530px;
    margin-top: 5em;
    position: relative;

    p {
      padding: 0;
    }
    
    &:before {
      content: '';
      background-image: url('../images/icon1.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 88px;
      height: 58px;
      position: absolute;
      top: -13%;
      left: 6%;
      zoom: 70%;
    }
  }
}
.section-request {
  padding: 3em 0;
  margin-top: -18em;

  h3 {
    font-family: @runda-bold;
  }
}
.section-create-dashboard {
  display: none;
  .box-shadow(2px 13px 44.59px 4.41px rgba(0, 0, 0, 0.04));
  max-width: 700px;
  margin: auto;
  
  img {
    width: 100%;
  }
}
.section-sub-banner {
  .container-fluid {
    position: relative;
  }
  h3 {
    span {
      display: block;
    }
  }
  p {
    color: #7d7d7d;
    margin: 20px 0;
    max-width: 500px;
  }
  .screening-img {
    margin: auto;

    img {
      width: 100%;
    }

    video {
      .box-shadow(1px 15px 13px 0px rgba(0, 0, 0, 0.08));
      height: initial;
      object-fit: cover;
    }
  }
  .max-400 {
    max-width: 400px;
  }
  .col-md-6, .col-md-5, .col-md-8, .col-md-4 {
    position: static;
  }

  &:nth-child(even) {
    background-color: #fafafa;
  }

  .testi-desc {
    p {
      color: #4f5057;
      font-family: @questrial;
      text-align: center;
      font-size: 21px;
    }
  }
}
.section-orig-adv {
  background-color: #fafafa;

  &:nth-child(even) {
    background-color: @white;
  }
}
.section-services {
  a {
    display: block;
    color: @black;
    font-size: 15px;

    &:hover {
      .services-holder {
        .box-shadow(7px 16px 43px 0px rgba(0, 0, 0, 0.05));

        .services-icon {
          top: 5px;
        }
      }
    }
  }
}
.section-laptop {
  max-width: 900px;
  margin: auto;
  
  img {
    width: 100%;
  }
}
.section-time-off {
  .screening-img {
    img {
      width: initial;
    }
  }
}
.section-advantage {
  .board-img {
    img {
      .box-shadow(2px 7px 92px 0px rgba(0, 0, 0, 0.08));
    }
  }
}
.section-track {
  .screening-img {
    img {
      .box-shadow(4px 25px 57px 0px rgba(0, 0, 0, 0.04));
    }
  }
}
.section-started {
  position: relative;
  overflow: hidden;

  .container-fluid {
    position: static;
  }

  .mobile-phone {
    height: 200px;

    .mobile {
      position: absolute;

      &.mobile-3 {
        max-width: 650px;
        left: 0;
        bottom: 0;
      }

      &.mobile-4 {
        top: -18%;
        left: 0;
        max-width: 220px;
      }
    }
  }
}
.section-workforce {
  .screening-img {
    border: 14px solid @white;
    .box-shadow(5px 5px 53.69px 5.31px rgba(0, 0, 0, 0.13));
  }
}
.section-testing {
  .screening-img {
    max-width: 800px;
    margin: 0;

    img {
      width: 100%;
    }
  }
}
.section-bg-payroll {
  height: 600px;
  position: relative;
}
.section-payroll {
  position: relative;
  width: 900px;
  margin: auto;
}
.section-careers {
  .screening-img {
    max-width: 450px;
  }
}
.section-overview-about {
  position: relative;

  &:before {
    content: '';
    background-image: url('../images/about-shape.png');
    background-repeat: no-repeat;
    width: 375px;
    height: 940px;
    position: absolute;
    top: -40%;
    right: 0;
    zoom: 75%;
    z-index: 1;
  }
}
.section-careers {
  position: relative;

  &:before {
    content: '';
    background-image: url('../images/about-shape-2.png');
    background-repeat: no-repeat;
    width: 474px;
    height: 963px;
    position: absolute;
    bottom: -10%;
    left: 0;
    zoom: 75%;
  }
}
.section-occupational {
  .section-title {
      &:before {
        content:'';
        background-image: url('../images/quotation-1.png');
        width: 219px;
        height: 167px;
        position: absolute;
        left: -15%;
        top: -90%;
        zoom: 75%;
      }
      &:after {
        content:'';
        background-image: url('../images/quotation-2.png');
        width: 219px;
        height: 165px;
        position: absolute;
        right: -10%;
        bottom: -90%;
        zoom: 75%;
      }
  }
}
.section-safer {
  margin-left: 6em;
  margin-right: 6em;

  .col-md-6 {
    &:nth-child(2) {
      .safer-list {
        border-color: #9ac94e;
      }
    }
    &:nth-child(3) {
      .safer-list {
        border-color: #ffcb08;
      }
    }
  }

  .safer-list {
    border: 8px solid #067b99;
    border-radius: 30px;
    text-align: center;
    position: relative;
    padding: 0 3em;
    margin: 0 3em 5em 3em;
    height: 362px;

    h4 {
      font-size: 25px;
    }
    p {
      color: #7d7d7d;
      font-size: 17px;
      max-width: 250px;
      margin: auto;
    }
  }
  .safer-icon {
    position: absolute;
    top: -3%;
    left: -6%;
    background-color: #fff;
    zoom: 75%;
    width: 150px;
    height: 130px;
  }
}
.section-concentrate {
  .section-title {
    padding-left: 5em;
  }
}
.section-cb-careers {
  margin-bottom: 4em;
  margin-top: 2em;
}