@-webkit-keyframes rotateCircle {
  from { -webkit-transform: rotate(0deg)}
  to { -webkit-transform: rotate(360deg)}
}
@-moz-keyframes rotateCircle {
  from { -moz-transform: rotate(0deg)}
  to { -moz-transform: rotate(360deg)}
}
@-o-keyframes rotateCircle {
  from { -o-transform: rotate(0deg)}
  to { -o-transform: rotate(360deg)}
}

@-moz-keyframes spinPulse {
  0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #bdd73c;}
  50% { -moz-transform:rotate(145deg); opacity:1; }
  100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
  0% { -moz-transform:rotate(0deg); }
  100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
  0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #bdd73c; }
  50% { -webkit-transform:rotate(145deg); opacity:1;}
  100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
  0% { -webkit-transform:rotate(0deg); }
  100% { -webkit-transform:rotate(360deg); }
}
@-moz-keyframes rotatecircle {
  0% { -moz-transform:rotate(0deg); }
  100% { -moz-transform:rotate(-360deg); }
}

@-webkit-keyframes rotatecircle {
  0% { -webkit-transform:rotate(0deg); }
  100% { -webkit-transform:rotate(-360deg); }
}

@keyframes spin {
  from {transform: rotate(0deg); }
  to {transform: rotate(360deg);}
}

.workforce-wrap{
  margin-top: 30px;
  padding: 250px 0;
  position: relative;
}

.workforce-svg-wrap{
  width:  526px;
  height: 526px;
  padding: 13px;
  position: relative;
  display: inline-block;
  z-index: 2;
}

.workforce-svg-wrap img{
  max-width: 100%;
  height: auto;
}

.workforce-svg-wrap .circles{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  -webkit-animation: rotateCircle 5s infinite linear;
  -moz-animation: rotateCircle 5s infinite linear;
  -o-animation: rotateCircle 5s infinite linear;
}

.workforce-svg-wrap .circle{
  width:  490px;
  height: 490px;
  position: absolute;
  border-radius: 50%;

}

.workforce-svg-wrap .circle1{
  background: #1e8ca3;
  top: 0;
  left: 13px;
  z-index: 1;
}

.workforce-svg-wrap .circle2{
  background: #69b1af;
  top: 8px;
  right: 4px;
  z-index: 2;
}

.workforce-svg-wrap .circle3{
  background: #cd585b;
  top: 8px;
  left: 4px;
  z-index: 3;
}

.workforce-svg-wrap .circle4{
  background: #8772a2;
  bottom: 8px;
  left: 4px;
  z-index: 5;
}

.workforce-svg-wrap .circle5{
  background: #e4c139;
  bottom: 8px;
  right: 4px;
  z-index: 6;
}

.workforce-svg-wrap .circle6{
  background: #9dc055;
  bottom: 0;
  left: 13px;
  z-index: 4;
}

.workforce{
  overflow: hidden;
  background: #FFF;
  width:  500px;
  height: 500px;
  border-radius: 50%;
  position: relative;
  z-index: 10;
}

.workforce .desk{
  width: 1000px;
  height: 1000px;
  background: #FFF;
  border-radius: 50%;
  left: 40%;
  position: absolute;
  box-shadow: 0 0 20px 10px rgba(0,0,0,.05);
  bottom: 39%;
  margin-left: -500px;
  z-index: 2;
}

.workforce .svg-wrap{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 50%;
  overflow: hidden;
  z-index: 3;
  background: #FFF;
}

.workforce .workforce-svg{

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  border-radius: 50%;
  z-index: 3;
}


.workforce-items{
  position: absolute;
  width: 1100px;
  top: 0;
  bottom: 0;
  left:50%;
  margin-left: -550px;
}

.workforce-items .workforce-item{
  width: 300px;
  text-align: center;
  position: absolute;
}

.workforce-items .workforce-item h3{
  text-transform: uppercase;
  font-size: 1.4em;
  margin-bottom: 10px;
}

.workforce-items .workforce-item p{
  line-height: 1.3;
  font-size: .8em;
  margin: 0;
}

.workforce-items .workforce-item .icon{
  background: #FFF;
  box-shadow: 0 13px 20px rgba(0,0,0,.1);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.workforce-items .workforce-item.bottom-icon{
  padding-bottom: 130px;
}

.workforce-items .workforce-item.bottom-icon .icon{
  position: absolute;
  bottom: 0;
  left:50%;
  margin-left:-60px;
  margin-bottom: 0;
}

.workforce-items .workforce-item .icon img{
  max-width: 100%;
  height: auto;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.workforce-items .workforce-item:hover .icon{
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.workforce-items .workforce-item:hover img{
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

.workforce-items .workforce-item .icon:after {
  border-left: 1px dashed #dedede;
  content: '';
  position: absolute;
}

.workforce-items .workforce-item:nth-child(1){
  top: 0;
  left: 50%;
  margin-left: -150px;
}

.workforce-items .workforce-item:nth-child(1) .icon:after{
  width: 1px;
  height: 50px;
  left:50%;
  bottom: -50px;
}

.workforce-items .workforce-item:nth-child(1) h3{
  color: #099ec3;
}

.workforce-items .workforce-item:nth-child(2){
  top: 200px;
  right:0;
}

.workforce-items .workforce-item:nth-child(2) .icon:after{
  width: 1px;
  height: 150px;
  left: -60px;
  transform: rotate(64deg);
  top: 50px;
}

.workforce-items .workforce-item:nth-child(2) h3{
  color: #95c53a;
}

.workforce-items .workforce-item:nth-child(3){
  top: 200px;
  left: 0;
}

.workforce-items .workforce-item:nth-child(3) .icon:after{
  width: 1px;
  height: 150px;
  right: -60px;
  transform: rotate(-64deg);
  top: 50px;
}

.workforce-items .workforce-item:nth-child(3) h3{
  color: #d35b5e;
}


.workforce-items .workforce-item:nth-child(4){
  bottom: 300px;
  right:0;
}

.workforce-items .workforce-item:nth-child(4) .icon:after {
  width: 1px;
  height: 80px;
  left: -40px;
  transform: rotate(-64deg);
  top: 0px;
}
.workforce-items .workforce-item:nth-child(4) h3{
  color: #f8c508;
}

.workforce-items .workforce-item:nth-child(5){
  bottom: 300px;
  left: 0;
}


.workforce-items .workforce-item:nth-child(5) .icon:after {
  width: 1px;
  height: 80px;
  right: -40px;
  transform: rotate(64deg);
  top: 0px;
}


.workforce-items .workforce-item:nth-child(5) h3{
  color: #f1992b;
}

.workforce-items .workforce-item:nth-child(6){
  bottom: 0;
  left: 200px;
}


.workforce-items .workforce-item:nth-child(6) .icon:after {
  width: 1px;
  height: 80px;
  right: -7px;
  transform: rotate(40deg);
  top: -60px;
}

.workforce-items .workforce-item:nth-child(6) h3{
  color: #8774a7;
}

.workforce-items .workforce-item:nth-child(7){
  bottom: 0;
  right: 200px;
}

.workforce-items .workforce-item:nth-child(7) .icon:after {
  width: 1px;
  height: 80px;
  left: -7px;
  transform: rotate(-40deg);
  top: -60px;
}


.workforce-items .workforce-item:nth-child(7) h3{
  color: #72cdac;
}
.screen-img {
  margin-top: -96px;
}
svg#Objects {
  position: relative;
  z-index: 1;
}
circle.st52[cx="298.5"], circle.st52[cx="298.1"] {
  opacity: 0;
  .transition(all .3s ease);
  .opacity(0);
  .translate(0,-5px);
  transition-delay: .1s;
}
circle.st52[cx="298.1"] {
  transition-delay: .3s;
}
rect.st53, rect.st54 {
  .translate(-5px,0);
  .transition(all .3s ease);
  .opacity(0);
}
path.st55, path.st56 {
  .translate(5px,0);
  .transition(all .3s ease);
  .opacity(0);
  transition-delay: .2s;
}

path.st57, polygon.st54 {
  .transition(all .3s ease);
  .opacity(0);
  .translate(0,-5px);
  transition-delay: .4s;
}

.screening-img.go {
  svg {
    circle.st52[cx="298.5"], circle.st52[cx="298.1"] {
      .opacity(1);
      .translate(0,0);
    }
    rect.st53, rect.st54 {
      .opacity(1);
      .translate(0,0);
    }
    path.st55, path.st56 {
      .opacity(1);
      .translate(0,0);
    }
    path.st57, polygon.st54 {
      .opacity(1);
      .translate(0,0);
    }
  }
}

.why-section {
  position: relative;

  svg {
    position: absolute;
    top: 5%;
    right: 0;
    max-width: 300px;
  }
}
svg.occupational {
  margin-top: 2em;
}

@media (max-width: 1150px){

  .workforce{
    width: 350px;
    height: 350px;
  }

  .workforce-svg-wrap {
    width: 376px;
    height: 376px;
  }

  .workforce-svg-wrap .circle{
    width:350px;
    height: 350px;
  }

  .workforce-items .workforce-item h3 {
    text-transform: uppercase;
    font-size: 1.1em;
    margin-bottom: 10px;
  }

  .workforce-items .workforce-item p {
    line-height: 1.3;
    font-size: .75em;
  }

  .workforce-items .workforce-item:nth-child(1) {
    top: 0;
    left: 50%;
    margin-left: -110px;
  }

  .workforce-items .workforce-item:nth-child(2) {
    top: 160px;
    right: 67px;
  }

  .workforce-items .workforce-item:nth-child(3) {
    top: 160px;
    left: 67px;
  }


  .workforce-items .workforce-item:nth-child(4) {
    bottom: 235px;
    right: 75px;
  }

  .workforce-items .workforce-item:nth-child(5) {
    bottom: 235px;
    left: 75px;
  }

  .workforce-items .workforce-item {
    width: 220px;
  }

  .workforce-items {
    width: 992px;
    margin-left: -496px;
  }
}
@media (max-width: 991px){

  .workforce{
    width: 250px;
    height: 250px;
  }

  .workforce-svg-wrap {
    width: 276px;
    height: 276px;
  }

  .workforce-svg-wrap .circle{
    width:245px;
    height: 245px;
  }

  .workforce-items .workforce-item .icon{
    width:70px;
    height: 70px;
    margin-bottom:10px;
  }
  .workforce-items .workforce-item h3 {
    font-size: .9em;
  }

  .workforce-items .workforce-item.bottom-icon {
    padding-bottom: 80px;
  }
  .workforce-items .workforce-item.bottom-icon .icon {
    margin-left:-35px;
  }

  .workforce-items {
    width: 768px;
    margin-left: -384px;
  }


  .workforce-wrap{
    padding: 200px 0;
  }


  .workforce-items .workforce-item:nth-child(2) {
    top: 120px;
    right: 10px;
  }
  .workforce-items .workforce-item:nth-child(3) {
    top: 120px;
    left: 10px;
  }

  .workforce-items .workforce-item:nth-child(4) {
    bottom: 173px;
    right: 10px;
  }

  .workforce-items .workforce-item:nth-child(5) {
    bottom: 173px;
    left: 10px;
  }


  .workforce-items .workforce-item:nth-child(2) .icon:after,
  .workforce-items .workforce-item:nth-child(3) .icon:after{
    top:16px;
  }


  .workforce-items .workforce-item:nth-child(4) .icon:after {
    height: 100px;
    left: -50px;
    transform: rotate(-76deg);
    top: -30px;
  }

  .workforce-items .workforce-item:nth-child(5) .icon:after {
    height: 100px;
    right: -50px;
    transform: rotate(76deg);
    top: -30px;
  }

  .workforce-items .workforce-item:nth-child(6) {
    bottom: 10px;
    left: 150px;
  }

  .workforce-items .workforce-item:nth-child(7) {
    bottom: 10px;
    right: 150px;
  }

}

.workforce-gear {
  position: absolute;
  top: 14.2%;
  right: 20%;
}

@media (max-width: 767px){

  .workforce-wrap{
    padding: 0;
  }
  .workforce-svg-wrap{
    margin-bottom: 40px;
  }
  .workforce-items{
    position: relative;
    width: 100%;
    margin: 0;
    left: auto;
  }
  .workforce-items .workforce-item{
    position: relative;
    left:auto!important;;
    right:auto!important;;
    bottom:auto!important;;
    top:auto!important;
    margin:0 auto;
    margin-bottom: 40px!important;
  }

  .workforce-items .workforce-item.bottom-icon{
    margin-left: 0;
    padding-bottom: 0;
    margin:0 auto;
  }
  .workforce-items .workforce-item.bottom-icon .icon {
    position: relative;
    left:auto;
    bottom:auto;
    margin-left:0;
  }

  .workforce-items .workforce-item .icon{
    margin-bottom: 10px!important;
  }

  .workforce-items .workforce-item .icon:after{
    display: none;
  }
}
