@white:                               #fff;
@black:                               #0c0c0c;
@gray:                                #4f5057;

@body-font:                           "RundaNormal";
@runda-bold:                           "RundaBold";
@roboto:                              "RobotoRegular";
@questrial:                           "QuestrialRegular";
@graphik:                             "GraphikRegular";
@runda-light:                         "RundaLight";